* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.searchbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.searchbox > button {
    border: none;
    background-color: none;
    padding: 0.3rem 0.5rem;
    font-size: 11px;
    background-color: #466bcf;
    color: white;
}

.searchbox > input {
    border: none;
    padding: 5px 1.2rem;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #466bcf;
    color: white;
}

.btn {
    border: none;
    background-color: none;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 0.3rem 0.5rem;
    font-size: 11px;
}

.btn-normal {
    background-color: #6495ed !important;
    color: #fff;
}
main {
    width: 100%;
    margin: 0;
    background-color: #e8e8e8;
}

.main-inner {
    max-width: 607px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
}

.wrapper-content {
    height: 100vh;
}

.navigation {
    position: fixed;
    top: 0;
}

.bookshelf-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bookshelf-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert {
    width: 100%;
    border-radius: 10px;
    padding: 1.2rem 1rem;
    margin: 0;
}

.bg-red {
    background-color: #ca4a4a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.choose-bookshelf-wrapper {
    margin-right: 10px;
}

.choose-bookshelf-wrapper select {
    border: none;
    background-color: #6495ed !important;
    color: #fff;
    padding: 0.3rem 0.5rem;
    height: 2rem;
    width: 8.7rem;
    line-height: 2;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.choose-bookshelf-wrapper select option {
    padding: 30px;
}

#formbuku {
    position: fixed;
    width: 100%;
    padding: 22vh;
    background: #2f2f2fc9;
    transition: all 250ms ease-in-out;
    transform: scale(0);
    top: 10vh;
}

.editing-state {
    border: none;
    padding: 4px;
    border-radius: 5px;
}

.tampil {
    animation: animasimuncultengah;
    transition: all 250ms cubic-bezier(.86,0,.07,1);
    transform: scale(1) !important;
    top: 0% !important;
}

@keyframes animasimuncultengah {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1)
    }
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: cornflowerblue;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}



.input_section > form > .input > label {
    color: white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section > h2 {
    color: white;
}

.search_section > form {
    padding: 11px 0;
    width: 100%;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.book_shelf {
    margin: 0px 10px 10px 10px;
    padding: 16px;
    border-radius: 10px;
    min-height: 80vh;
}

.book_shelf > h2 {
    color: cornflowerblue;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color:#4caf50;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #f44336;
    color: white;
}

@media (max-width: 670px) {

    main {
        flex-direction: column;
        width: 100%;
    }

    #formbuku {
        padding: 2em;
    }
}